# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.tfvars

# Секреты и переменные окружения
.env
*.env
secrets/
*.pem
*.key
*.crt

# Логи
*.log

# Docker
**/mosquitto/config/passwd

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~